<div *ngIf="recipe && recipe[0]; else pageNotFound">
  <!--Title, image, summary, cook time-->
  <h1>{{ recipe[0].title }}</h1>
  <img src="{{ recipe[0].imageUrl }}" />
  <p *ngIf="recipe[0].summary" [innerHTML]="recipe[0].summary"></p>
  <div *ngIf="formattedCookTime">
    <h3>Cook Time</h3>
    <p>{{ formattedCookTime }}</p>
  </div>

  <!--Ingredients-->
  <div>
    <h3>Ingredients</h3>
    <ul>
      <li *ngFor="let ingredient of ingredients">
        {{
          ingredient.amount +
            " " +
            (ingredient.unit ? ingredient.unit : "") +
            " " +
            ingredient.name
        }}
      </li>
    </ul>
  </div>

  <!--Instructions-->
  <div>
    <h3>Instructions</h3>
    <ol>
      <li *ngFor="let instruction of instructions">{{ instruction.step }}</li>
    </ol>
  </div>

  <!--TODO: comments section-->
</div>

<ng-template #pageNotFound>
  <app-page-not-found></app-page-not-found>
</ng-template>
