<mat-sidenav-container>
  <!--TODO: organize sidenav into separate component-->
  <mat-sidenav #sidenav mode="side">
    <div class="link-wrapper"><a routerLink="/">Explore</a></div>
    <div class="link-wrapper">
      <a routerLink="/:user/favorites">Favorites</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar
      (currUser)="(this.currUser)"
      (openNav)="sidenav.toggle()"
    ></app-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
