<mat-toolbar id="nav-content">
  <button id="sidenav-btn" mat-icon-button (click)="openNav.emit()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <h1 id="webpage-name">My Recipe Book</h1>
  <button
    mat-fab
    [matMenuTriggerFor]="menu"
    class="login-user"
    *ngIf="currUser; else login"
  >
    <fa-icon [icon]="faUser"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngIf="currUser; else login">
      <button mat-menu-item (click)="navigateToUserPage()">
        {{ currUser.username }}
      </button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </div>
  </mat-menu>
</mat-toolbar>

<ng-template #login
  ><a routerLink="/login" class="login-user">Login</a></ng-template
>
